doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/styles/index.css')
    //- style
    //-   include ./public/index.css
    script(src='https://unpkg.com/jquery@3.3.1/dist/jquery.min.js')
    //- <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  body
    block content
